body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f6f6f8;
}

main {
    max-width: 1200px;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 0;
}

h1, nav a, .card h1 {
    color: #000;
}

header {
    font-size: 1.5em;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.logo:hover {
    color: #ca2017;
}

nav {
    display: flex;
    justify-content: right;
    padding-bottom: 10px;
    border-bottom: 2px solid #ca2017;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    background-color: #ca2017;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #ca2017;
}

p {
    font-size: 1rem;
    padding: 0.5rem 15%;
    text-align: justify;
}

.intro-text {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Adapted from https://yuanchuan.dev/gradient-shapes/ */
    background:
        linear-gradient(
            110deg,
            transparent 30%, #e3e3e3 30%,
            #e3e3e3 70%, transparent 70%
            )
            50% / 200% 40%
            no-repeat;
}

@media only screen and (max-width: 550px) {
    .intro-text{
        background:
        linear-gradient(
            110deg,
            transparent 30%, #e3e3e3 30%,
            #e3e3e3 70%, transparent 70%
            )
            50% / 200% 50%
            no-repeat;
    }
}

.intro-text h1 {
    color: #ca2017;
}

.intro-text p {
    font-size: 2rem;
}

span {
    font-weight: 700;
    color: #ca2017;
}

.footbar{
    width: 100%;
    height: 0.3rem;
    margin-top: 1rem;
    background-color: #ca2017
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content img {
    width: 20%;
    border-radius: 50%;
    box-shadow: 0 0 20px #000;
    margin: 2rem;
}

.skills-content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-content p {
    margin: 20px 40px;
    text-align: center;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.skills-icons img {
    height: 150px;
    width: 150px;
    margin: 50px;
    padding: 0;
    transition: 0.5s;
}
.skills-icons img:hover {
    height: 200px;
    width: 200px;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .skills-icons {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    .skills-icons img {
        height: 110px;
        width: 110px;
        margin: 10px;
    }
    .skills-icons img:hover {
        height: 130px;
        width: 130px;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .skills-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .skills-icons img {
        height: 100px;
        width: 100px;
        margin: 5px;
    }
    .skills-icons img:hover {
        height: 110px;
        width: 110px;
        margin: 0;
    }
}

.projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.card {
    flex: 1;
    width: 300px;
    margin: 20px;
    padding: 0 10px;
    border: 2px solid #ca2017;
    border-radius: 5px;
    text-align: center;
    background-color: #e3e3e3;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50%;
}

.card img:hover {
    border-color:  #ca2017;
    box-shadow: 0 0 1px 1px #ca2017;
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-links img {
    width: 50px;
    margin: 20px;
}

.contact-links img:hover {
    filter: brightness(0);
}

@media (max-width: 768px){
    h1{
        font-size: 3em;
    }
    header{
        font-size: 1rem;
    }
}

@media (max-width: 450px){
    h1{
        font-size: 2em;
    }
    .logo {
        font-size: 1rem;
    }
    .intro-text {
        height: 60vh
    }
    .intro-text p {
        font-size: 1.5rem;
    }
}